


<header>
    <div class="container">
        <NavLink id="logo" href="/"><img src="/images/silicon-logo-dark.svg" alt="Silicon-logo"></NavLink>

        <div id="menu" class="hide">
            <nav>
                <h4>Admin Portal</h4>

                <AuthorizeView>
                    <Authorized>
                        
                    </Authorized>
                </AuthorizeView>

                <AuthorizeView Roles="SuperUser, Administrator, Author">
                    <Authorized>
                    </Authorized>
                </AuthorizeView>

            </nav>
        </div>


        <div class="account-buttons hide" id="account-buttons">
            <AuthorizeView>
                <Authorized>
                    <NavLink href="/signout" class="sign-out" title="Sign Out"><i class="fa-regular fa-right-from-bracket "></i></NavLink>
                    @* <NavLink title="Profile"><img class="profile-image" src="/images/profiles/@user!.ProfileImageUrl" /></NavLink> *@
                </Authorized>
                <NotAuthorized>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <button onclick="toggleMenu()" class="btn-mobile">
            <i id="barsIcon" class="fa-regular fa-bars"></i>
            <i id="crossIcon" class="fa-sharp fa-solid fa-xmark hide"></i>
        </button>

    </div>
</header>

@code {
 
}
