.newsletter {
    margin-top: 50px;
    h1 {
        color: var(--color-gray-900);
        margin-top: 100px;
        margin-bottom: 30px;
    }

    .options-bar {
    }

    .content-box {
        display: flex;
        flex-direction: column;

        .center-content{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .red {
            color: $danger;
        }

        .green {
            color: $success;
        }
    }
}
.quickgrid-table tr:nth-child(even) {
    background-color: var(--color-gray-100);
}

.newsletter-form {

    h3 {
        color: var(--color-gray-800);
        text-align: center;
    }

    #subscribe-form {

        .checkboxes {
            display: flex;
            margin: 20px 0;
            justify-content: center;
            gap: 20px;

            .box {
                display: flex;
                flex-direction: column-reverse;
            }
        }

        .subscribe {
            display: flex;
            justify-content: space-evenly;

            .btn-red {
                padding: 15px 50px;
            }
        }
    }
}