@inject UserService UserService
@inject UserManager<ApplicationUser> UserManager
@inject ILogger<AdministratorsView> Logger

<div class="container administrators-form">
    @if (!string.IsNullOrEmpty(StatusMessage))
    {
        <div class="alert alert-danger w-50 text-lg-center">
            @StatusMessage
        </div>
    }
    <EditForm FormName="administrators" Model="AdminModel" OnValidSubmit="UpdateAdmin" id="admin-form" method="post" novalidate>
        <DataAnnotationsValidator />
        <div class="checkbox-content">
            <div class="checkboxes">
                <div class="box">
                    <InputText @bind-Value="AdminModel.Email" type="email"/>
                    <label>Email</label>
                    <ValidationMessage For="() => AdminModel.Email" class="text-danger" />
                </div>
                <div class="box">
                    <InputText @bind-Value="AdminModel.FirstName" />
                    <label>FirstName</label>
                </div>
                <div class="box">
                    <InputText @bind-Value="AdminModel.LastName" />
                    <label>LastName</label>
                </div>
            </div>
        </div>
        <div class="buttons">
            <button id="submit-button" type="submit" class="btn-theme"><span>Update</span></button>
            <button @onclick="Cancel" class="btn-theme"><span>Cancel</span></button>
        </div>
    </EditForm>
</div>
@code {
    [Parameter]
    public EventCallback<string> OnClick { get; set; }

    [Parameter]
    public string? Email { get; set; }

    [SupplyParameterFromQuery]
    private string? StatusMessage { get; set; }

    [SupplyParameterFromForm]
    private AdministratorModel AdminModel { get; set; } = new();

    private ApplicationUser Admin { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Admin = await UserManager.FindByEmailAsync(Email!);
            AdminModel.Email = Admin!.Email!;
            AdminModel.FirstName = Admin.FirstName;
            AdminModel.LastName = Admin.LastName;
        }
        catch (Exception ex)
        {
            Logger.LogError(ex.Message);
        }
    }

    public async Task UpdateAdmin()
    {
        Admin.Email = AdminModel.Email;
        Admin.FirstName = AdminModel.FirstName;
        Admin.LastName = AdminModel.LastName;

        var updateResult = await UserManager.UpdateAsync(Admin);
        if (updateResult.Succeeded)
            await OnClick.InvokeAsync("");

        StatusMessage = "Failed to update.";
    }

    public async Task Cancel()
    {
        await OnClick.InvokeAsync(""); 
    }
}
