@rendermode InteractiveServer


<div>

    <div class="profile">
        <img alt="user-image"/>
        <p class="email"></p>
    </div>

    <div class="nav-bar">
        <i class="icon fa-solid fa-building-memo"></i>
        <nav>
            <NavLink class="link btn-theme" @onclick='() => NavigateToPage("Dashboard")'><i class="fa-solid fa-table-columns"></i>Dashboard</NavLink>
            <NavLink class="link btn-theme" @onclick='() => NavigateToPage("Administrators")'><i class="fa-duotone fa-user-tie"></i>Administrators</NavLink>
            <NavLink class="link btn-theme" @onclick='() => NavigateToPage("Users")'><i class="fa-duotone fa-users"></i>Users</NavLink>
            <NavLink class="link btn-theme" @onclick='() => NavigateToPage("Newsletter")'><i class="fa-duotone fa-envelope"></i>NewsLetter</NavLink>
            <NavLink class="link btn-theme" @onclick='() => NavigateToPage("Courses")'><i class="fa-regular fa-graduation-cap"></i>Courses</NavLink>
            <NavLink class="link btn-theme" @onclick='() => NavigateToPage("Chat")'><i class="fa-sharp fa-solid fa-headset"></i>Chat</NavLink>
        </nav>
    </div>

</div>

@code {
    [Parameter]
    public EventCallback<string> OnClick { get; set; }

    private async Task NavigateToPage(string page)
    {
        await OnClick.InvokeAsync(page);
    }
}

