@inject IModalService modal
@rendermode InteractiveServer
@* 
<button @onclick='(() => _modal!.Show<NewsletterEditForm>("Newsletter form"))' class="btn btn-primary">Edit</button> *@

@code {
    private IModalService? _modal { get; set; }
    [Inject]
    public IModalService? ModalService {get{ return _modal; } set{if(value is not null){ _modal = value; }}}
}