@rendermode InteractiveServer
@page "/backoffice"


<PageTitle>BackOffice</PageTitle>

<section class="backoffice">
    <Menu OnClick="RenderClickedPage"/>
    <div class="container">
        @switch (componentToDisplay)
        {
            case "Dashboard":
                <Dashboard />
                break;

            case "Administrators":
                <AdministratorsMenu />
                break;

            case "Users":
                <UserMenu />
                break;

            case "Newsletter":
                <NewsletterMenu />
                break;

            case "Courses":
                <CoursesMenu />
                break;

            case "Chat":
                <ChatView />
                break;

            default:
                <Dashboard />
                break;
        }
        
    </div>

</section>


@code {
    private string componentToDisplay = "default";

    private void RenderClickedPage(string page)
    {
        componentToDisplay = page;
    }
}